#measure of central tendency

In [4]:
#mean (average)
age = [12,14,15,16,47,48,23,45,67]

In [5]:
import numpy as np
np.mean(age)

31.88888888888889

In [6]:
weight = [45,42,76,43,56,24,56,78,24]
np.mean(weight)

49.333333333333336

In [9]:
import seaborn  as sns
df = sns.load_dataset('tips')

In [11]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
np.mean(df['total_bill'])

19.78594262295082

In [15]:
np.median(age)

23.0

In [16]:
age = [12,14,15,16,47,48,23,45,67,456]

In [17]:
np.mean(age)

74.3

In [18]:
np.median(age)

34.0

In [19]:
from scipy import stats

In [20]:
stats.mode(age)

/tmp/ipykernel_84/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([1]))